body {
    margin: 0px;
}

.container {
    display: flex;
}

#headerlinks {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 16px;
    margin-left: auto;
}

.headerlink {
    text-decoration: none;
}

.box {
    display: flex;
}
#hero {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 80px; 
    margin-bottom: 80px;
}
#heroboxone, #heroboxtwo {
    width: 50%;
    
}

#heroboxone {
    flex-direction: column;
    min-width: min-content;
}

#heroboxtwo {
    background-image: url('./images/banana.png');
    background-size: 100% 100%;
    min-width: 100px; 
    
}

#heromaintext {
    font-size: 48px;
    font-weight: 900;
}

#header {
    flex-direction: row;
    align-items: center;
}

#sectionone {
    background-color: #1f2937;
}

#sectiontwo {
    background-color: white;
}

#headerlogo {
    font-size: 24px;
}

.headerlink, #herosecondarytext {
    font-size: 18px;
    color: #E5E7EB;
}

#heromaintext, #headerlogo {
    color: #F9FAF8;
}

#sectionone, #sectiontwo {
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
}
